<h1>Planes</h1>

<%= form_tag flyings_path, method: :create, remote: true do %>
  <table>
    <thead>
      <tr>
        <th>Flight</th>
        <th>Current status</th>
        <th>Status history</th>
        <th>Accept flying</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @planes.each do |plane| %>
        <tr>
          <td><%= plane.flight %></td>
          <td><%= plane.status %></td>
          <td><%= simple_format(plane.status_history) %></td>
          <td><%= check_box_tag 'plane_ids[]', plane.id, false, disabled: !plane.in_the_room? %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= submit_tag 'Start flying' %>
<% end %>
